@media all and (max-width: 600px) {

    .smartphone-device,
    .note-scan-form {
        display: none;
    }

}

@media all and (min-width: 600px) {}

@media all and (min-width: 768px) {}

body {
    background-color: white;
}

.container {
    min-width: 95%;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.row {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

/*------------- pages headers --------------------*/


.home-pages-header,
.waiting-notes-pages-header,
.validated-notes-pages-header,
.employee-pages-header,
.note-form-pages-header,
.note-pages-header,
.commercial-page-header,
.employee-form-page-header,
.map-page-header,
.message-form-pages-header,
.article-form-pages-header {
    border: 2px solid #436D99;
    background-color: #436D99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

/*------------- pages h1,h2,h3 --------------------*/

.home-pages-header>h1,
.waiting-notes-pages-header>h1,
.validated-notes-pages-header>h1,
.employee-pages-header>h1,
.note-form-pages-header>h1,
.note-pages-header>h1,
.commercial-page-header>h1,
.employee-form-page-header>h1,
.map-page-header>h1,
.article-form-pages-header>h1,
.message-form-pages-header>h1,
.note-scan-form>h2 {
    color: whitesmoke;
}

.note-text-content>h1,
.message-box-title>h3,
.actu-box-title>h3 {
    color: #436D99;
}

/*------------- paginated listing --------------------*/

.waiting-notes-listing,
.validated-notes-listing,
.employee-listing {
    overflow: hidden;
    border: 2px solid #436D99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.table th,
.table td {
    padding: 1px;
    vertical-align: unset;
}

.pagination {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.page-item.disabled .page-link,
.page-item:last-child .page-link,
.page-item:first-child .page-link {
    display: none;
}

.page-item.active .page-link {
    border: 1px solid #436D99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #436D99;
    color: #272727;
}

.page-link {
    border: 1px solid #436D99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #436D99;
}

/*------------- global page content --------------------*/
.commercial-infos,
.login-form,
.user-registration-form,
.note-global-content,
.note-text-content,
.message-form-content,
.article-form-content {
    border: 2px solid #436D99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: black;
}

.listings-container {
    overflow: hidden;
    border: 2px solid #436D99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.home-page-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.message-box,
.actu-box {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    min-width: 300px;
    width: 100%;
    border: 2px solid #436D99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: black;
}

.message,
.article {
    border: 2px solid #436D99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: black;
}

.message-box-title,
.actu-box-title,
    {
    background-color: #436D99;
    border: 2px solid #436D99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: black;

}

/*------------- add / update notes form page --------------------*/
.note-form {
    width: 99%;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.form-group {
    margin: 0;
}

.note-form-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    color: #436D99;
}

.note-description-form,
.note-coordonnées-form {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    text-align: -webkit-center;
    text-align: -ms-center;
    text-align: -moz-center;
    width: 90%;
    border: 2px solid #436D99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: auto;
    padding: 10px;
    margin: 10px;
    color: #436D99;
}

.note-description-form-content,
.note-coordonnées-form-content {
    width: 90%;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.note-lat-lng-form,
.note-scan-form {
    border: 2px solid #436D99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: auto;
    padding: 10px;
    margin: 10px;
    color: #436D99;
}

.note-form-button,
.action-button {
    margin: 5px;
}

.custom-file {
    position: initial;
}

.custom-file-input {
    opacity: 1;
    width: auto;
}

.custom-file-label {
    display: none;
}

/*------------- individual note map --------------------*/
#map {
    height: 400px;
    border: 2px solid #436D99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: #436D99;
}

/*------------- map page --------------------*/

#note-infos {
    display: none;
    border: 2px solid #436D99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: #436D99;
}