body {
    background-color: #272727;
}

.container {
    min-width: 95%;
}

.login-form {
    border: 2px solid wheat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px 0;
    padding: 10px;
    color: wheat;
}

.pages-header {
    min-height: 80px;
    max-height: 10%;
    border: 2px solid wheat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px 0;
    padding: 10px;
    color: wheat;
}

.user-page-header {
    display: -ms-flexbox;
    display: flex;
}

.pages-header>h1 {
    color: wheat;
}

.listings-container {
    max-height: 70%;
    padding: 5px;
    border: 2px solid wheat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

}

.listings-menu {
    max-height: 50px;
}

.user-name {
    margin: 10px 0;
}

.user-name>h1 {
    color: wheat;
}

.user-infos,
.admin-action-control {
    width: 50%;
    min-height: 200px;
    max-height: 15%;
    border: 2px solid wheat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px 5px;
    padding: 10px;
    color: wheat;
}

.note-infos {
    width: 100%;
    min-height: 80px;
    max-height: 15%;
    border: 2px solid wheat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px 5px;
    padding: 10px;
    color: wheat;
}

.note-global-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    margin: 10px 5px;
    padding: 10px;
    color: wheat;
}

.note-text-content {
    width: 30%;
    height: 600px;
    border: 2px solid wheat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px 5px;
    padding: 10px;
    color: wheat;
}

.note-scan {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border: 2px solid wheat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px 5px;
    padding: 10px;
    color: wheat;
}

.note-scan>img {
    max-width: 90%;
    max-height: 90%;
}

.note-infos>h1,
.note-infos>p {
    color: wheat;
}

.note-control {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 10px 5px;
    padding: 10px;
}

#map {
    height: 600px;
    width: 68%;
    border: 2px solid wheat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px 5px;
    padding: 10px;
}

/*------------- Formulaire ajout/modif note --------------------*/

.note-form-content {
    display: -ms-flexbox;
    display: flex;
    border: 2px solid wheat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px 5px;
    padding: 10px;
    color: wheat;
}

.note-description-form {
    width: 100%;
    border: 2px solid wheat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px 5px;
    padding: 10px;
    color: wheat;
}

.note-coordonnées-form {
    width: 100%;
    border: 2px solid wheat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px 5px;
    padding: 10px;
    color: wheat;
}

.note-lat-lng-form {
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border: 2px solid wheat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px 5px;
    padding: 10px;
    color: wheat;
}